body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
    color: #878282;
  }

  ul {
    list-style-type: none;
  }
}

* {
  box-sizing: inherit;
  &::after, &::before {
    box-sizing: inherit;
  }
  box-sizing: border-box;
  outline: none;
  &:before, &:after {
    box-sizing: border-box;
    outline: none;
  }
}

.overlay {
  content: '';
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: all .5s ease;
  z-index: 3;

  &::after {
    content: "";
    visibility: hidden;
    position: fixed;
    top: 40%;
    left: 0;
    display: block;
    width: 100%;
    height: 50px;
    color: rgba(255, 255, 255, 0);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    transition: all .5s ease;
  }
}

.side-open {
  .overlay {
    visibility: visible;
    cursor: pointer;
    background-color: rgba( 0, 0, 0, .7);

    &::after {
      visibility: visible;
      color: rgba( 255, 255, 255, .8);
    }
  }
}

.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  padding-top: 150px;
  text-align-last: left;
  font-size: 13px;
  background: #d6f1dc;
  z-index: 1;
}

.side-menu-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  padding: 5px;
  background: #ff9440;
  cursor: pointer;
  z-index: 4;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 13px;
  background: #f8f8f8;
  transition: all .5s ease;
  z-index: 2;

  .header {
    padding: 100px 0;
    background: #161616;
    color: #fff;

    h1 {
      margin-bottom: 30px;
      font-size: 20px;
    }
  }

  .contents {
    width: 100%;
    padding: 150px 0;
    background: #f5f5f5;

    h1 {
      margin-bottom: 30px;
      font-size: 20px;
    }

    p {
      margin-bottom: 50px;
    }
  }

  footer {
    padding: 150px 0;
    background: #fff;
  }
}

.side-open .wrapper,
.side-open .overlay {
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
}