@charset "UTF-8";
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

* {
  box-sizing: inherit;
  box-sizing: border-box;
  outline: none; }
  *::after, *::before {
    box-sizing: inherit; }
  *:before, *:after {
    box-sizing: border-box;
    outline: none; }

.cp-modal02 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #444; }
  .cp-modal02::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: -1; }
  .cp-modal02 .cp-content p {
    margin: 0;
    line-height: 1.5;
    text-indent: 1em; }
  .cp-modal02 p.citation {
    text-align: right; }
    .cp-modal02 p.citation::before {
      content: '\2500'; }
  .cp-modal02 p:not(.citation) {
    margin-bottom: 1.5rem; }
  .cp-modal02 a {
    text-decoration: none; }
  .cp-modal02 label {
    cursor: pointer; }
  .cp-modal02 .cp-modal-btn {
    position: relative;
    display: table-cell;
    width: 100px;
    height: 100px;
    background-color: #00bcd4;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    text-align: center;
    transition: box-shadow 250ms ease;
    color: #fff; }
    .cp-modal02 .cp-modal-btn::before {
      position: absolute;
      top: 50%;
      left: 20%;
      font-family: "Font Awesome 5 Free";
      content: '\f0a6' ' よむ';
      font-size: 1em;
      line-height: 0;
      display: inline-block;
      width: 4em;
      color: #fff; }
    .cp-modal02 .cp-modal-btn:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
  .cp-modal02 .cp-modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    visibility: hidden;
    transition: backgroud-color 250ms linear; }
  .cp-modal02 .cp-modal-cont {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 50%;
    height: 50%;
    overflow: scroll;
    margin-top: -18%;
    margin-left: -25%;
    padding: 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transform: scale(0);
    transition: transform 250ms ease;
    visibility: hidden;
    z-index: 20; }
    .cp-modal02 .cp-modal-cont .cp-close {
      position: relative;
      float: right;
      font-size: 18px;
      transition: transform 500ms ease;
      z-index: 11; }
      .cp-modal02 .cp-modal-cont .cp-close:hover {
        color: #da3c41;
        transform: rotate(180deg); }
    .cp-modal02 .cp-modal-cont header {
      position: relative;
      display: block;
      border-bottom: 1px solid #00bcd4;
      margin-bottom: 1.5em; }
      .cp-modal02 .cp-modal-cont header h2 {
        margin: 0 0 10px;
        padding: 0;
        font-size: 28px; }
    .cp-modal02 .cp-modal-cont article {
      position: relative;
      display: block;
      margin: 0;
      padding: 0;
      font-size: 16px;
      line-height: 1.75; }
    .cp-modal02 .cp-modal-cont footer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      margin: 0;
      padding: 10px 0 0; }
      .cp-modal02 .cp-modal-cont footer .cp-btn {
        position: relative;
        padding: 10px 30px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        overflow: hidden; }
        .cp-modal02 .cp-modal-cont footer .cp-btn::before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: rgba(88, 34, 26, 0.3);
          transition: width 250ms ease;
          z-index: 0; }
        .cp-modal02 .cp-modal-cont footer .cp-btn:hover:before {
          width: 100%; }
        .cp-modal02 .cp-modal-cont footer .cp-btn.cp-cl {
          background-color: #da3c41; }
  .cp-modal02 #cp-modal {
    display: none; }
    .cp-modal02 #cp-modal:checked ~ .cp-modal-bg {
      visibility: visible;
      background-color: #000;
      opacity: 0.7;
      transition: background-color 250ms linear; }
    .cp-modal02 #cp-modal:checked ~ .cp-modal-cont {
      visibility: visible;
      transform: scale(1);
      transition: transform 250ms ease;
      z-index: 111; }
  @media only screen and (max-width: 480px) {
    .cp-modal02 .cp-modal02 .cp-modal-cont {
      top: 30%;
      left: 30%;
      width: 90%; } }
